@model IEnumerable<ApplicationCore.Domain.Client>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<form asp-action="index">
    <fieldset>
        <legend> Recherche</legend>
        Saisir un login :
        <input type="text" name="loginSearch" />
        <input type="submit" value="Serach" />
    </fieldset>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Identifiant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConseillerFk)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Identifiant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                    <img src="~/uploads/@item.Photo" width="50" height="50"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConseillerFk)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Identifiant  }) |
@*                @Html.ActionLink("Details", "Details", new {  id=item.Identifiant  }) |
*@                <a asp-action="Details" asp-controller="Client" asp-route-id="@item.Identifiant">Details</a>
                @Html.ActionLink("Delete", "Delete", new {  id=item.Identifiant  })
           <a asp-action="Details" asp-controller="Conseiller" asp-route-id="@item.ConseillerFk">Conseiller Client</a>
            </td>
        </tr>
}
    </tbody>
</table>
